<ion-header>
  <ion-navbar>
    <ion-title>
      首页
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--数值绑定-->
  <p class="alert">{{myHero}}</p>
  <h3 class="alert">{{title}}</h3>
  <label> 输入框
    <input style="border:1px solid #000000" type="text" [(ngModel)]="title"> </label>

  <!--*ngIf用法-->
  <p *ngIf="isShown" [class.alert]="isShown">看得到我</p>
  <p *ngIf="!isShown">看不到我</p>
<p *ngIf="names.length>0" [style.font-size.em]="isShown ? 2 : 1">下面是数组，长度为{{names.length}}</p>

  <!--*ngFor用法-->
  <ul>
    <li *ngFor="let item of names; index as i">
      {{ i+item }}
    </li>
  </ul>
  <button class="btn-primary" (click)="onChangeTitle()">点击</button>

  <button class="btn-primary" (click)="toLazyLoadPage()">跳转到懒加载界面</button>
  <button class="btn-primary" (click)="toNormalLoadPage()">跳转到非懒加载界面</button>
  <button class="btn-primary" (click)="toNetPage()">跳转到网络请求界面</button>
  <button class="btn-primary" (click)="toLoginPage()">跳转到登陆界面</button>
<login-model data="12345"></login-model>
</ion-content>

  


